@media only screen and (max-width: 768px) {
  .details {
    flex-direction: column;
  }
}

.details {
  display: flex;
  gap: 1rem;

  div:first-child {
    flex: 1;
  }
}

.members {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    a {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      .username {
        color: var(--gray-500);
      }

      img {
        border-radius: 100%;
        border: 1px solid var(--border-color);
      }
    }
  }

  li + li {
    margin-top: 0.3rem;
  }
}

.description {
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);

  > header {
    border-bottom: 1px solid var(--border-color);
    font-weight: 600;

    padding-inline: 1rem;
    padding-block: 0.25rem;
  }

  > div {
    padding: 1rem;
  }
}

.success {
  .icon {
    text-align: center;
  }

  > header {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
}
