/* Colors */
:root {
  --theme: #35ef7f;
  --theme-dark: #37e07b;
}

*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid #000;
}

/* FIXME: body tag should be removed when semantic-ui is removed */
html,
body {
  font:
    16px/26px "Lato",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

a,
a:hover {
  color: var(--theme);
}

.ui.primary.button {
  background-color: var(--theme);
  color: black;
}

.ui.primary.button:hover {
  background-color: var(--theme-dark);
  color: black;
}

#navigation-small,
#navigation-big {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}

.headTitleBackground {
  height: 10em;
  background-image: linear-gradient(
    to top left,
    var(--theme) 0,
    var(--theme-dark) 85%
  );
}

.headTitleBackground .container {
  height: 100%;
}

.headTitleBackground .container .grid {
  height: 100%;
}

.headTitleBackground h1,
.headTitleBackground p {
  color: rgb(0, 0, 0);
}

.p_title {
  margin-left: 1em;
  padding-top: 1em;
}

.p_body {
  margin-left: 2em;
  margin-right: 2em;
}

footer#footer {
  background-color: black;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}

code {
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 0.2em;
}
