/* Colors */
:root {
  --white: #fff;
  --fg: oklch(30% 0 0);
  --bg: #fff;
  --bg-darker: oklch(97% 0 0);
  --bg-menu-hover: oklch(95% 0 0);

  --gray-50: oklch(95% 0 0);
  --gray-100: oklch(90% 0 0);
  --gray-200: oklch(80% 0 0);
  --gray-300: oklch(70% 0 0);
  --gray-400: oklch(60% 0 0);
  --gray-500: oklch(50% 0 0);
  --gray-600: oklch(40% 0 0);
  --gray-700: oklch(30% 0 0);
  --gray-800: oklch(20% 0 0);
  --gray-900: oklch(10% 0 0);
  --gray-950: oklch(5% 0 0);

  --slate-50: oklch(95% 0.020 257.42);
  --slate-100: oklch(90% 0.035 257.42);
  --slate-200: oklch(80% 0.050 257.42);
  --slate-300: oklch(70% 0.065 257.42);
  --slate-400: oklch(60% 0.080 257.42);
  --slate-500: oklch(50% 0.080 257.42);
  --slate-600: oklch(40% 0.060 257.42);
  --slate-700: oklch(30% 0.040 257.42);
  --slate-800: oklch(20% 0.030 257.42);
  --slate-900: oklch(10% 0.020 257.42);
  --slate-950: oklch(5% 0.010 257.42);

  --blue-50: oklch(95% 0.020 254.8);
  --blue-100: oklch(90% 0.035 254.8);
  --blue-200: oklch(80% 0.050 254.8);
  --blue-300: oklch(70% 0.065 254.8);
  --blue-400: oklch(60% 0.080 254.8);
  --blue-500: oklch(50% 0.080 254.8);
  --blue-600: oklch(40% 0.060 254.8);
  --blue-700: oklch(30% 0.040 254.8);
  --blue-800: oklch(20% 0.030 254.8);
  --blue-900: oklch(10% 0.020 254.8);
  --blue-950: oklch(5% 0.010 254.8);

  --green-50: oklch(95% 0.020 151.19);
  --green-100: oklch(90% 0.035 151.19);
  --green-200: oklch(80% 0.050 151.19);
  --green-300: oklch(70% 0.065 151.19);
  --green-400: oklch(60% 0.090 151.19);
  --green-500: oklch(50% 0.100 151.19);
  --green-600: oklch(40% 0.070 151.19);
  --green-700: oklch(30% 0.040 151.19);
  --green-800: oklch(20% 0.030 151.19);
  --green-900: oklch(10% 0.020 151.19);
  --green-950: oklch(5% 0.010 151.19);

  --red-50: oklch(95% 0.020 28.8);
  --red-100: oklch(90% 0.035 28.8);
  --red-200: oklch(80% 0.050 28.8);
  --red-300: oklch(70% 0.065 28.8);
  --red-400: oklch(60% 0.090 28.8);
  --red-500: oklch(50% 0.100 28.8);
  --red-600: oklch(40% 0.070 28.8);
  --red-700: oklch(30% 0.040 28.8);
  --red-800: oklch(20% 0.030 28.8);
  --red-900: oklch(10% 0.020 28.8);
  --red-950: oklch(5% 0.010 28.8);

  --outline-color: var(--slate-400);
  --theme: #35ef7f;
  --theme-dark: #37e07b;

  --link-color: oklch(52% 0.14 151.19);
  --link-gray-hover-color: oklch(50% 0.0 151.19);

  --fast-transition-time: 0.1s;
  --slow-transition-time: 0.3s;
}

@media (prefers-reduced-motion) {
  --fast-transition-time: 0s;
  --slow-transition-time: 0s;
}

/* Other */
:root {
  --ring-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  :root {
    --siteWidth: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  :root {
    --siteWidth: 723px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  :root {
    --siteWidth: 933px;
  }
}

@media only screen and (min-width: 1201px) {
  :root {
    --siteWidth: 1127px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  border: none;
}

/* FIXME: body tag and !important should be removed when semantic-ui is removed */
html,
body {
  font:
    16px/26px "Lato",
    sans-serif !important;
  color: var(--fg) !important;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.ui.primary.button {
  background-color: var(--theme);
  color: black;
}

.ui.primary.button:hover {
  background-color: var(--theme-dark);
  color: black;
}

#navigation-small,
#navigation-big {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}

.headTitleBackground {
  height: 10em;
  background-image: linear-gradient(
    to top left,
    var(--theme) 0,
    var(--theme-dark) 85%
  );
}

.headTitleBackground .container {
  height: 100%;
}

.headTitleBackground .container .grid {
  height: 100%;
}

.headTitleBackground h1,
.headTitleBackground p {
  color: rgb(0, 0, 0);
}

.p_title {
  margin-left: 1em;
  padding-top: 1em;
}

.p_body {
  margin-left: 2em;
  margin-right: 2em;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer#footer {
  background-color: black;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}

code {
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 0.2em;
}

/* FIXME: Workaround until we remove <i> style icons */
i.icon {
  margin: 0;
}
