.focusRing:focus-visible {
  outline: 2px solid var(--outline-color);
  outline-offset: 2px;
}

.containerWide {
  max-width: var(--siteWidth);
  margin-inline: auto;
}

.containerRegular {
  max-width: min(50rem, var(--siteWidth));
  margin-inline: auto;
}

.containerSmall {
  max-width: min(35rem, var(--siteWidth));
  margin-inline: auto;
}
