.kitList {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border-top: 1px solid var(--border-color);

    &:last-child {
      border-bottom: 1px solid var(--border-color);
    }
  }
}

.itemHeader {
  display: flex;
  align-items: center;
  gap: 1rem;

  h3 {
    margin: 0;
  }
}
