.activeKit {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1em;
}

.activeKitHeader {
  display: flex;
  align-items: center;
  gap: 1rem;

  h3 {
    margin: 0;
  }
}
