.dialog {
  padding: 0;
  border-radius: 0.75rem;
  box-shadow: var(--ring-box-shadow);

  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
  }

  > div {
    padding: 1.5rem;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-top: -1.5rem;
  padding: 0 1.5rem;
  background-color: var(--gray-50);
  border-bottom: 1px solid rgba(0,0,0,0.1);

  > h1 {
    font-size: 1.5rem;
  }
}

.content {
  padding: 1.75rem 0;
}

.actions {
  display: flex;
  gap: 2rem;
  justify-content: right;
  align-items: center;
  height: 4rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
  padding: 0 1.5rem;
  background-color: var(--gray-50);
  border-top: 1px solid rgba(0,0,0,0.1);

  > button {
    min-width: 10rem;
  }
}
