.textarea {
  display: inline-flex;
  margin: 2px 0.2rem;
  font-size: 1rem;

  &::placeholder {
    color: var(--gray-300);
    opacity: 1;
  }

  &.adorned {
    &:focus-visible {
      outline: 0;
    }
  }

  &:not(.adorned) {
    border-radius: 0.5rem;
    border: 1px solid var(--gray-100);
    padding: 0.5rem 1.5rem;

    &:focus-visible {
      outline: 2px solid var(--outline-color);
    }

    &:disabled {
      border: 1px solid var(--gray-50);
    }
  }
}

.textareaContainer {
  display: inline-flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-100);
  padding: 0.5rem 0.5rem;
  gap: 0.25rem;

  &:focus-within {
    outline: 2px solid var(--outline-color);
  }

  > .textarea {
    border-radius: 0;
    border: 0;
    flex: 1;
  }
}

.fullWidth {
  width: 100%;
}
