.members {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
    padding-block: 1rem;
    border-top: 1px solid var(--border-color);
    padding-inline: 1.5rem;

    display: flex;
    gap: 1rem;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid var(--border-color);
    }
  }
}

.user {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  display: flex;
  align-items: center;

  img {
    border-radius: 100%;
    border: 1px solid var(--border-color);
  }
}

.actions {
}

.roleOptions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.roles {
  .roleLabel {
    > span:first-child {
      color: var(--gray-500);
    }
  }

  ul.rolesOptions {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      border-bottom: 1px solid var(--border-color);
      cursor: pointer;

      /* `--padding-inline` comes from DropdownDetails.module.css */
      padding: 0.3rem var(--padding-inline);

      &:not(.selected) svg {
        visibility: hidden;
      }

      header {
        font-weight: 600;
      }

      &:hover {
        background-color: var(--bg-darker);
      }
    }
  }
}

.avatar {
  border-radius: 100%;
  border: 1px solid var(--border-color);
}

.addMemberSelection {
  .selectedMember {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--green-200);
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: var(--green-50);

    .username {
      color: var(--gray-500);
    }

    .cancel {
      flex: 1;
      text-align: right;
    }
  }

  .add {
    width: 100%;
  }
}

.memberSuggestions {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    padding: 0.3rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-50);
    }

    &:first-child {
      border-top: 1px solid var(--border-color);
    }
  }
}
