body #root {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

#navigation-small, #navigation-big {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}

.headTitleBackground {
  height: 10em;
    background-image: linear-gradient(to top left, #3dadbf 0, #2577a1 85%);
}

.headTitleBackground .container {
  height: 100%;
}

.headTitleBackground .container .grid {
  height: 100%;
}

.headTitleBackground h1,
.headTitleBackground p {
  color: rgb(230, 230, 250);
}

.p_title {
  margin-left: 1em;
  padding-top: 1em
}

.p_body {
  margin-left: 2em;
  margin-right: 2em;
}

footer#footer {
  background-color: whitesmoke;
  color: rgb(140,140,140);
  padding-top: 5em;
  padding-bottom: 5em;
}
